<launch>

    <!-- Launch gazebo simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">

        <!-- load world -->
        <arg name="world_name" value="$(find simulation)/world/sim_blue.world"/>
        
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
    </include>

</launch>